<h1 class="text-white ps-3">Login</h1>
<p><%= notice %><%= alert %></p>
<div class="container w-100">
  <div class="row mx-auto">
    <% if user_signed_in? %>
      <h2 class="text-white text-center">ログイン中です</h2>
    <% else %>
      <div class="text-center mt-5">
        <%= link_to user_twitter_omniauth_authorize_path, method: :post, class: 'twitter_login btn btn-primary' do %>
          <i class="fab fa-twitter twitter m-1" id="twitter"></i>
              <span class="text-white">Login / Sign_in</span>
        <% end %>
      </div>
    <% end %>
  </div>
</div>