<p><%= notice %><%= alert %></p>
<h1 class="text-white ps-3">デジタルKJ法</h1>
<p class="text-white">- To provide an app that will satisfy as many people as possible -</p>

<div class="container w-100">
  <div class="row mx-auto">
    <p class="text-warning text-center fs-6">  ー  MISSION  ー<br>
    ・複雑な問題でも可能な限り多くの人が満足した結論を出せるように<br>
    ・デジタル環境でKJ法が効率的に実施できるように<br>
    </p>
    <div class="col text-center">
      <iframe width="560" height="315" src="https://www.youtube.com/embed/cSpvOyhVkZI" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
  </div>
</div>